* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

img {
  position: absolute;
  width: 100px;
  height: auto;
  animation: fall 3s ease-in forwards;
}

@keyframes fall {
  0% {top:-10%; right:-10%; transform: rotate(0deg) translateY(-100%) rotate(0deg);}
  100% {top:90%; right:90%; transform: rotate(320deg) translateY(-100%) rotate(-300deg);}
}

.sea {
  position: absolute;
  top: 80%;
  height: 20%;
  width: 100%;
  background-image: linear-gradient(to bottom, aqua, blue);
}